<div>
  <h2>Update your event</h2>
  <form action="/events/{{this.id}}/edit" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <br>
    <label for="price">Price:</label>
    <input type="number" name="price" value="€">
    <br>
    <label for="location">Location:</label>
    <input type="text" name="location" id="location">
    <br>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date">
    <br>
    <label for="slots">Slots:</label>
    <input type="number" name="slots" id="slots">
    <br>
    <button>Update</button>
  </form>
</div>