<div>
  <form action="/profile/my-profile/edit" method="post">
    <label for="age">Age:</label>
    <input type="number" name="age" value="{{userToUpdate.age}}">
    <br>
    <label for="city">City:</label>
    <input type="text" name="city" value="{{userToUpdate.city}}">
    <br>
    <label for="bio">Bio:</label>
    <input type="text" name="bio" value="{{userToUpdate.bio}}">
    <br>
    <label for="image">Profile picture:</label>
    <input type="file" name="image">
    <br>
    <button>Update</button>
  </form>
</div>