<h2>Tell us about yourself</h2>
<div class="form-container">
  <form class="form" action="/profile/my-profile/edit" method="post" enctype="multipart/form-data">
    <label for="age">Age:</label>
    <br />
    <input type="number" name="age" value="{{userToUpdate.age}}" />
    <br />
    <label for="city">City:</label>
    <br />
    <input type="text" name="city" value="{{userToUpdate.city}}" />
    <br />
    <label for="bio">Bio:</label>
    <br />
    <textarea
      rows="5"
      cols="40"
      name="bio"
    >{{userToUpdate.bio}}</textarea>
    <br />
    <div class="profile-picture-container">
      <label for="image">Profile picture:</label>
      <div class="upload">
        <input type="file" name="image" />
      </div>
    </div>
    <br />
    <button>Update</button>
  </form>
</div>