<div>
  <form action="/profile/my-profile" method="post">
  <label for="age">Age:</label>
  <input type="number" name="age" value="{{age}}">
  <br>
  <label for="city">City:</label>
  <input type="text" name="city" value="{{city}}">
  <br>
  <label for="bio">Bio:</label>
  <input type="text" name="bio" value="{{bio}}">
  <br>
  <button>Update</button>
  </form>
</div>