<div>
  <h1>{{foundUser.username}}</h1>
  <p>Age: {{foundUser.age}}</p>
  <p>City: {{foundUser.city}}</p>
  <p>Bio: {{foundUser.bio}}</p>

  <form action="/profile/my-profile/edit">
    <button>Edit</button>
  </form>
</div>