<div>
  <h1>{{currentUser.username}}</h1>
  <p>Age: {{currentUser.age}}</p>
  <p>City: {{currentUser.city}}</p>
  <p>Bio: {{currentUser.bio}}</p>

  <form action="/profile/my-profile/edit">
    <button>Edit</button>
  </form>
</div>