@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/*
font-family: 'Lato', sans-serif;
#F5F2ED
#B99875
#8C8069
#60685D
#345051 */

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f2ed;
  color: #345051;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

a {
  color: #60685d;
}

h1 {
  color: 15px;
}

h2 {
  margin: 50px;
  color: #345051;
  font-weight: 800;
  text-align: center;
}

/* HOME */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
}

#home-btn {
  background-color: #345051;
  color: #f5f2ed;
  padding: 20px;
  border-radius: 16px;
  border: 0;
  font-size: 1.5em;
}

#home-btn:hover {
  cursor: pointer;
}

nav {
  height: 125px;
  padding: 50px;
  background-color: #60685d;
  display: flex;
  justify-content: space-between;
}

nav a {
  margin: 32px;
  font-size: 1.2em;
  color: #f5f2ed;
  text-decoration: none;
}

/* EVENT LIST */
#event-list ul {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
}

#event-list li {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: space-evenly;
}

#event-list li a {
  margin-bottom: 10px;
  color: #b99875;
  font-weight: 600;
}

#event-list img {
  border-radius: 30px;
  height: 250px;
  width: 300px;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 350px);
}

/* SINGLE EVENT */
#single-event {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px);
}

#event-container {
  text-align: center;
  width: 500px;
  margin-top: 50px;
  padding: 25px;
  border: 4px solid #8c8069;
  border-radius: 30px;
  flex-grow: 0;
}

#event-container img {
  border-radius: 30px;
  width: 480px;
  height: 250px;
  object-fit: cover;
}

#event-container form li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#event-container form li a {
  text-decoration: none;
  margin: 15px;
}

.icon {
  height: 18px;
  vertical-align: text-bottom;
}

.btn-container button {
  background-color: #345051;
  color: #f5f2ed;
  padding: 8px 18px;
  margin-top: 8px;
  border-radius: 16px;
  border: 0;
  font-size: 0.6em;
}

.kick-btn button {
  background-color: darkred;
  color: #f5f2ed;
  padding: 8px 18px;
  margin-top: 8px;
  border-radius: 16px;
  border: 0;
  font-size: 0.6em;
}

#attend {
  background-color: #345051;
  color: #f5f2ed;
  padding: 8px 18px;
  margin-top: 8px;
  border-radius: 16px;
  border: 0;
  font-size: 1em;
}

/* FORMS */
.form-container {
  display: flex;
  justify-content: center;
}

.form {
  text-align: center;
  width: 400px;
  padding: 25px;
  border: 4px solid #8c8069;
  border-radius: 30px;
}

.form input {
  width: 150px;
  height: 20px;
  margin: 10px;
}

.form textarea {
  margin-top: 10px;
}

#bio-box {
  height: 100px;
}

.form button {
  background-color: #345051;
  color: #f5f2ed;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 16px;
  border: 0;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
}

.upload-btn {
  background-color: #345051;
  color: #f5f2ed;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 16px;
  border: 0;
  font-size: 1em;
}

.upload {
  width: 100px;
  height: 35px;
  background: url("../images/image.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

.upload input:hover {
  cursor: pointer;
}

.upload input {
  display: block !important;
  width: 100px !important;
  height: 35px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* PRIVATE PROFILE */
.profile-container {
  display: flex;
  min-height: calc(100vh - 150px);
  width: 100vw;
  font-size: 1.2em;
}

.img-container {
  display: flex;
  width: 50vw;
  justify-content: center;
  align-items: center;
}

.img-container img {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 50vw;
}

.profile li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.profile li a {
  text-decoration: none;
}

/* PUBLIC PROFILE */
#comments {
  display: flex;
  align-items: stretch;
}

#comments button {
  background-color: #345051;
  color: #f5f2ed;
  padding: 8px 18px;
  margin: 10px;
  border-radius: 16px;
  border: 0;
  font-size: 0.8em;
}
